body {
  max-width: 380px;
  margin: auto;
  background: #ddd;
  font-family: 'Space Grotesk', sans-serif;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
}

header {
  background: url(../img/bd-header.png) no-repeat;
  border-top: solid black 8px;
}

.introduction {
  background: black;
  margin: 30px;
  padding: 20px 40px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header img {
  height: 28px;
}

header p {
  color: #e3f4ff;
  font-size: 20px;
}

.cta-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta {
  background: #060e17;
  color: white;
  text-decoration: none;
  font-weight: 300;
  border-radius: 15px;
  padding: 10px 25px;
  margin-bottom: 18px;
}

.cta-light {
  background: #e3f4ff;
  color: #060e17;
}

h2 {
  font-size: 30px;
  font-weight: 300;
}

.section-light {
  background-color: #e3f4ff;
  padding: 60px;
}

.section-light img {
  height: 40px;
}

.section-dark {
  background-color: #060e17;
  padding: 40px 30px;
}

.section-dark h2 {
  color: #e3f4ff;
}

.section-dark img {
  height: 80px;
}

.section-dark a {
  font-size: 14px;
  color: black;
}

h3 {
  font-size: 23px;
  font-weight: 300;
}

.container-article-twitter {
  background-color: #e3f4ff;
  padding: 0 38px 25px;
  border-radius: 20px;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container-article-twitter .element-button {
  align-self: flex-end;
}

.container-article-money {
  background-color: #e3f4ff;
  padding: 0 38px 25px;
  border-radius: 20px;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container-article-money .element-button {
  align-self: flex-end;
}

.container {
  margin-bottom: 60px;
}

.cta-end-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}